<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :"서비스 간단 요약" %>
    <%= form.text_field :summary %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= tinymce :language => "en" %>
    <%= form.text_area :content, id: :post_content, class: "form-control tinymce", rows: "10" %>
</div>

  <div class="field">
    <%= form.radio_button :status,'1', :checked => true %> 
    <%= label :status_1, '코딩다함 보러오셈 히히' %>
    <%= form.radio_button :status, '2' %>
    <%= label :status_2, '아직 코딩중.. ㅠ' %>
    <%= form.radio_button :status, '3' %>
    <%= label :status_3, '걍 포기함 다 망함' %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field" style="display: inline">
    <%= form.label :column, style: "display: inline" %>
    <%= form.select :column, options_for_select([[1,0],[2,1],[3,2],[4,3],[5,4],[6,5],[7,6]]) %>
  </div>

  <div class="field" style="display: inline">
    <%= form.label :row, style:"display: inline" %>
    <%= form.select :row, options_for_select((1..5).step(1)) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
