<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content.html_safe %>
  <%= @post.summary %><br>
  <% if @post.status == "1" %>
    <strong>코딩다함 보러오셈 히히</strong>
  <% elsif @post.status == "2"%>
    <strong>아직 코딩중.. ㅠ</strong>
  <% else %>
    <strong>걍 포기함 다 망함</strong>
  <% end%>
</p>


<%= link_to 'Edit', confirm_path(@post)%>
<%= link_to 'Back', posts_path %>
